In [1]:
import pandas as pd

In [2]:
from master_tables import MasterTables

# 給湯設備

## マスタテーブルの読み込み

In [3]:
mts = MasterTables.read()

## 付録F 表1

単位が「L / m<sup>2</sup> d」の場合の密度は、給湯においては使用しないため、値を「-」に置き換える。また、「-」を許容するため、データ型をfloat型からstr型に変更する。

In [4]:
t =  mts.m_HWU.astype({'Density': str})
t.loc[mts.m_HWU.Unit == 'L/m2日', 'Density'] = '－'
t.head()

  UsageKey Density  Standard   Unit  WashRoom  ShowerRoom  Kitchen  Other
0      O-1     0.1       3.8   L/人日       3.8         0.0      0.0    0.0
1      O-2     0.1       3.8   L/人日       3.8         0.0      0.0    0.0
2      O-3    0.25       3.8   L/人日       3.8         0.0      0.0    0.0
3      O-4       －      32.0  L/m2日       0.0         0.0     32.0    0.0
4      O-5       －      48.0  L/m2日       0.0         0.0     48.0    0.0

'Standard'「基準」 列の値は、「洗面」「シャワー」「台所」「その他」の値の合計であるため、「基準」列は出力しない。

In [5]:
#table_DHW_Appendix_F_1 = pd.merge(mts.m_BURU, mts.m_HWU, on='UsageKey').filter(
#    items=['UsageKey', 'BuildingName', 'RoomName', 'Standard', 'WashRoom', 'ShowerRoom', 'Kitchen', 'Other', 'Unit', 'Density']
#).set_axis(
#    labels=['キー', '建物用途', '室用途', '基準', '洗面', 'シャワー', '台所', 'その他', '単位', '密度'], axis=1
#)
table_DHW_Appendix_F_1 = pd.merge(mts.m_BURU, t, on='UsageKey').filter(
    items=['UsageKey', 'BuildingName', 'RoomName', 'WashRoom', 'ShowerRoom', 'Kitchen', 'Other', 'Unit', 'Density']
).set_axis(
    labels=['用途記号', '建物用途', '室用途', '洗面', 'シャワー', '台所', 'その他', '単位', '人密度'], axis=1
).replace({'単位': {'L/人日': 'L / 人 d', 'L/床日': 'L / 床 d', 'L/m2日': 'L / m2 d'}})

In [6]:
table_DHW_Appendix_F_1.head()

  用途記号  建物用途        室用途   洗面  シャワー    台所  その他        単位   人密度
0  O-1  事務所等        事務室  3.8   0.0   0.0  0.0   L / 人 d   0.1
1  O-2  事務所等  電子計算機器事務室  3.8   0.0   0.0  0.0   L / 人 d   0.1
2  O-3  事務所等        会議室  3.8   0.0   0.0  0.0   L / 人 d  0.25
3  O-4  事務所等        喫茶室  0.0   0.0  32.0  0.0  L / m2 d     －
4  O-5  事務所等       社員食堂  0.0   0.0  48.0  0.0  L / m2 d     －

In [7]:
table_DHW_Appendix_F_1.to_csv('table/table_DHW_Appendix_F_1.csv', encoding='cp932', index=False)