In [1]:
import pandas as pd

In [2]:
from read_master_tables import get_master_tables

# その他

## マスターテーブルの読み込み

In [3]:
mts = get_master_tables()

## 表1

In [4]:
table_others_1 = pd.merge(mts.m_BURU, mts.m_CP, on='UsageKey').filter(
    items=['UsageKey', 'BuildingName', 'RoomName', 'CalendarPattern']
).set_axis(
    labels=['キー', '建物用途', '室用途', 'カレンダーパターン'], axis=1
)

In [5]:
table_others_1.head()

    キー  建物用途        室用途 カレンダーパターン
0  O-1  事務所等        事務室         A
1  O-2  事務所等  電子計算機器事務室         A
2  O-3  事務所等        会議室         A
3  O-4  事務所等        喫茶室         A
4  O-5  事務所等       社員食堂         A

In [6]:
table_others_1.to_csv('table/table_others_1.csv', encoding='cp932', index=False)

## 表2

In [7]:
table_others_2 = mts.m_CAL.set_axis(
    labels=['通算日', '室用途', '曜日', 'パターンA', 'パターンB', 'パターンC', 'パターンD', 'パターンE', 'パターンF'], axis=1
)

In [8]:
table_others_2.head()

   通算日   室用途 曜日  パターンA  パターンB  パターンC  パターンD  パターンE  パターンF
0    1  1月1日  木      3      3      3      3      3      3
1    2  1月2日  金      3      3      3      3      3      3
2    3  1月3日  土      3      3      3      3      3      2
3    4  1月4日  日      3      2      2      2      2      2
4    5  1月5日  月      1      2      2      3      3      1

In [9]:
table_others_2.to_csv('table/table_others_2.csv', encoding='cp932', index=False)