In [1]:
import pandas as pd

In [2]:
from read_master_tables import get_master_tables

# その他

## マスターテーブルの読み込み

In [3]:
mts = get_master_tables()

## 表1

In [4]:
table_others_1 = mts.m_RSUR.set_axis(
    labels=['用途記号', '室使用パターン', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23'], axis=1
)

In [5]:
table_others_1.head()

,用途記号,室使用パターン,0,1,2,3,4,5,6,7,...,14,15,16,17,18,19,20,21,22,23
0,O-1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
1,O-1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,O-1,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,O-2,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
4,O-2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 表2

In [6]:
table_others_2 = pd.merge(mts.m_BURU, mts.m_CP, on='UsageKey').filter(
    items=['UsageKey', 'BuildingName', 'RoomName', 'CalendarPattern']
).set_axis(
    labels=['用途記号', '建物用途', '室用途', 'カレンダーパターン'], axis=1
)

In [7]:
table_others_2.head()

  用途記号  建物用途        室用途 カレンダーパターン
0  O-1  事務所等        事務室         A
1  O-2  事務所等  電子計算機器事務室         A
2  O-3  事務所等        会議室         A
3  O-4  事務所等        喫茶室         A
4  O-5  事務所等       社員食堂         A

## 表3

In [8]:
table_others_3 = mts.m_CAL.set_axis(
    labels=['通算日', '室用途', '曜日', 'パターンA', 'パターンB', 'パターンC', 'パターンD', 'パターンE', 'パターンF'], axis=1
)

In [9]:
table_others_3.head()

   通算日   室用途 曜日  パターンA  パターンB  パターンC  パターンD  パターンE  パターンF
0    1  1月1日  木      3      3      3      3      3      3
1    2  1月2日  金      3      3      3      3      3      3
2    3  1月3日  土      3      3      3      3      3      2
3    4  1月4日  日      3      2      2      2      2      2
4    5  1月5日  月      1      2      2      3      3      1

# CSV書き出し

In [10]:
table_others_1.to_csv('table/table_others_1.csv', encoding='cp932', index=False)
table_others_2.to_csv('table/table_others_2.csv', encoding='cp932', index=False)
table_others_3.to_csv('table/table_others_3.csv', encoding='cp932', index=False)