In [1]:
import numpy as np
import pandas as pd

In [2]:
from read_master_tables import get_master_tables

# その他

## マスターテーブルの読み込み

In [3]:
mts = get_master_tables()

## 表1

In [4]:
table_others_1 = mts.m_RSUR.set_axis(
    labels=['用途記号', '室使用パターン', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23'], axis=1
)

In [5]:
table_others_1.head()

,用途記号,室使用パターン,0,1,2,3,4,5,6,7,...,14,15,16,17,18,19,20,21,22,23
0,O-1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
1,O-1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,O-1,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,O-2,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
4,O-2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 表2

In [6]:
table_others_2 = mts.m_LHGDR.set_axis(
    labels=['用途記号', '室使用パターン', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23'], axis=1
)

In [7]:
table_others_2.head()

,用途記号,室使用パターン,0,1,2,3,4,5,6,7,...,14,15,16,17,18,19,20,21,22,23
0,O-1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.8,0.0,0.0,0.0
1,O-1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,O-1,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,O-2,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.8,0.0,0.0,0.0
4,O-2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 表3

In [8]:
table_others_3 = mts.m_HHGDR.set_axis(
    labels=['用途記号', '室使用パターン', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23'], axis=1
)

In [9]:
table_others_3.head()

,用途記号,室使用パターン,0,1,2,3,4,5,6,7,...,14,15,16,17,18,19,20,21,22,23
0,O-1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,0.5,0.3,0.2,0.0,0.0,0.0
1,O-1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,O-1,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,O-2,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,0.5,0.3,0.2,0.0,0.0,0.0
4,O-2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 表4

In [10]:
table_others_4 = mts.m_AHGDR.set_axis(
    labels=['用途記号', '室使用パターン', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23'], axis=1
)

In [11]:
table_others_4.head()

,用途記号,室使用パターン,0,1,2,3,4,5,6,7,...,14,15,16,17,18,19,20,21,22,23
0,O-1,1,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,...,1.00,1.00,1.00,1.00,1.00,0.50,0.50,0.25,0.25,0.25
1,O-1,2,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,...,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25
2,O-1,3,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,...,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25
3,O-2,1,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,...,1.00,1.00,1.00,1.00,1.00,0.50,0.50,0.25,0.25,0.25
4,O-2,2,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,...,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25

## 表1～表4の幅が狭いバージョン

表1～表4については、表の横幅が広すぎて、PDF出力した場合にはみ出すため、幅がコンパクトなバージョンを用意する。

In [12]:
def make_alternate_table_for_printing(d):
    
    # 午前のみのデータを抜き出し、列ラベルを書き換える。
#    d1 = d[['用途記号', '室使用パターン', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11']].set_axis(
#        labels=['用途記号', '室使用パターン', '0/12', '1/13', '2/14', '3/15', '4/16', '5/17', '6/18', '7/19', '8/20', '9/21', '10/22', '11/23'], axis=1
#    ).replace({'室使用パターン': {1:'1(AM)', 2:'2(AM)', 3:'3(AM)'}}).copy()
    d1 = d[['用途記号', '室使用パターン', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11']].replace(
        {'室使用パターン': {1:'1(AM)', 2:'2(AM)', 3:'3(AM)'}}
    ).set_axis(
        labels=['| 用途\n| 記号', '| 室使用\n| パターン', '| 0\n| 12', '| 1\n| 13', '| 2\n| 14', '| 3\n| 15', '| 4\n| 16', '| 5\n| 17', '| 6\n| 18', '| 7\n| 19', '| 8\n| 20', '| 9\n| 21', '| 10\n| 22', '| 11\n| 23'], axis=1
    ).copy()
    
    # 午後のみのデータを抜き出し、列ラベルを書き換える。
    d2 = d[['用途記号', '室使用パターン', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']].replace(
        {'室使用パターン': {1:'1(PM)', 2:'2(PM)', 3:'3(PM)'}}
    ).set_axis(
        labels=['| 用途\n| 記号', '| 室使用\n| パターン', '| 0\n| 12', '| 1\n| 13', '| 2\n| 14', '| 3\n| 15', '| 4\n| 16', '| 5\n| 17', '| 6\n| 18', '| 7\n| 19', '| 8\n| 20', '| 9\n| 21', '| 10\n| 22', '| 11\n| 23'], axis=1
    ).copy()
    
    # 午前のデータに偶数番号列(0, 2, 4...)を新たな列として振る
    d1['i'] = pd.Series(range(0, len(d1.index)*2, 2))
    
    # 午後のデータに奇数番号列(1, 3, 5...)を新たな列として振る
    d2['i'] = pd.Series(range(1, len(d2.index)*2, 2))
    
    # 2つのデータを縦方向に連結し、新たな列の番号でソートする。その後、不要となった番号列を削除する。
    d_alt = pd.concat([d1, d2]).sort_values('i').drop('i',axis=1)
    
    return d_alt

In [13]:
table_others_1_alt = make_alternate_table_for_printing(d=table_others_1)
table_others_2_alt = make_alternate_table_for_printing(d=table_others_2)
table_others_3_alt = make_alternate_table_for_printing(d=table_others_3)
table_others_4_alt = make_alternate_table_for_printing(d=table_others_4)

In [14]:
table_others_1_alt

,| 用途\n| 記号,| 室使用\n| パターン,| 0\n| 12,| 1\n| 13,| 2\n| 14,| 3\n| 15,| 4\n| 16,| 5\n| 17,| 6\n| 18,| 7\n| 19,| 8\n| 20,| 9\n| 21,| 10\n| 22,| 11\n| 23
0,O-1,1(AM),0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
0,O-1,1(AM),1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
1,O-1,2(AM),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,O-1,2(AM),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,O-1,3(AM),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,A-4,1(AM),1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
439,A-4,2(AM),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
439,A-4,2(AM),1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
440,A-4,3(AM),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
440,A-4,3(AM),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
table_others_2_alt

,| 用途\n| 記号,| 室使用\n| パターン,| 0\n| 12,| 1\n| 13,| 2\n| 14,| 3\n| 15,| 4\n| 16,| 5\n| 17,| 6\n| 18,| 7\n| 19,| 8\n| 20,| 9\n| 21,| 10\n| 22,| 11\n| 23
0,O-1,1(AM),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
0,O-1,1(AM),0.5,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.8,0.0,0.0,0.0
1,O-1,2(AM),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,O-1,2(AM),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,O-1,3(AM),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,A-4,1(AM),1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
439,A-4,2(AM),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
439,A-4,2(AM),1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
440,A-4,3(AM),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
440,A-4,3(AM),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
table_others_3_alt

,| 用途\n| 記号,| 室使用\n| パターン,| 0\n| 12,| 1\n| 13,| 2\n| 14,| 3\n| 15,| 4\n| 16,| 5\n| 17,| 6\n| 18,| 7\n| 19,| 8\n| 20,| 9\n| 21,| 10\n| 22,| 11\n| 23
0,O-1,1(AM),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
0,O-1,1(AM),0.6,1.0,1.0,1.0,1.0,1.0,0.5,0.3,0.2,0.0,0.0,0.0
1,O-1,2(AM),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,O-1,2(AM),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,O-1,3(AM),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,A-4,1(AM),1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
439,A-4,2(AM),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
439,A-4,2(AM),1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
440,A-4,3(AM),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
440,A-4,3(AM),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
table_others_4_alt

,| 用途\n| 記号,| 室使用\n| パターン,| 0\n| 12,| 1\n| 13,| 2\n| 14,| 3\n| 15,| 4\n| 16,| 5\n| 17,| 6\n| 18,| 7\n| 19,| 8\n| 20,| 9\n| 21,| 10\n| 22,| 11\n| 23
0,O-1,1(AM),0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,1.00,1.00,1.00,1.00
0,O-1,1(AM),0.80,1.00,1.00,1.00,1.00,1.00,1.00,0.50,0.50,0.25,0.25,0.25
1,O-1,2(AM),0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25
1,O-1,2(AM),0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25
2,O-1,3(AM),0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,A-4,1(AM),1.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
439,A-4,2(AM),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
439,A-4,2(AM),1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
440,A-4,3(AM),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
440,A-4,3(AM),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

## 表5

In [18]:
table_others_5 = pd.merge(mts.m_BURU, mts.m_CP, on='UsageKey').filter(
    items=['UsageKey', 'BuildingName', 'RoomName', 'CalendarPattern']
).set_axis(
    labels=['用途記号', '建物用途', '室用途', 'カレンダーパターン'], axis=1
)

In [19]:
table_others_5.head()

  用途記号  建物用途        室用途 カレンダーパターン
0  O-1  事務所等        事務室         A
1  O-2  事務所等  電子計算機器事務室         A
2  O-3  事務所等        会議室         A
3  O-4  事務所等        喫茶室         A
4  O-5  事務所等       社員食堂         A

## 表6

In [20]:
table_others_6 = mts.m_CAL.set_axis(
    labels=['通算日', '室用途', '曜日', 'パターンA', 'パターンB', 'パターンC', 'パターンD', 'パターンE', 'パターンF'], axis=1
)

In [21]:
table_others_6.head()

   通算日   室用途 曜日  パターンA  パターンB  パターンC  パターンD  パターンE  パターンF
0    1  1月1日  木      3      3      3      3      3      3
1    2  1月2日  金      3      3      3      3      3      3
2    3  1月3日  土      3      3      3      3      3      2
3    4  1月4日  日      3      2      2      2      2      2
4    5  1月5日  月      1      2      2      3      3      1

# CSV書き出し

In [22]:
table_others_1.to_csv('table/table_others_1.csv', encoding='cp932', index=False)
table_others_2.to_csv('table/table_others_2.csv', encoding='cp932', index=False)
table_others_3.to_csv('table/table_others_3.csv', encoding='cp932', index=False)
table_others_4.to_csv('table/table_others_4.csv', encoding='cp932', index=False)
table_others_5.to_csv('table/table_others_5.csv', encoding='cp932', index=False)
table_others_6.to_csv('table/table_others_6.csv', encoding='cp932', index=False)

table_others_1_alt.to_csv('table/table_others_1_alt.csv', encoding='cp932', index=False)
table_others_2_alt.to_csv('table/table_others_2_alt.csv', encoding='cp932', index=False)
table_others_3_alt.to_csv('table/table_others_3_alt.csv', encoding='cp932', index=False)
table_others_4_alt.to_csv('table/table_others_4_alt.csv', encoding='cp932', index=False)